@font-face {
    font-family: switzer-thin;
    src: url(../../../public/static/fonts/Switzer-Thin.otf);
}

.imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageTitle {
    font-family: switzer-thin;
    color: #0D0D0D;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
}