@font-face {
    font-family: switzer-thin;
    src: url(../../../public/static/fonts/Switzer-Thin.otf);
}

.imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageTitle {
    font-family: switzer-thin;
    color: var(--black);
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
}

.imageTitleDarkmode {
    font-family: switzer-thin;
    color: var(--white);
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
}