@font-face {
    font-family: switzer-regular;
    src: url(../../../public/static/fonts/Switzer-Regular.otf);
}

.paragraph {
    color: var(--black);
    font-family: switzer-regular;
    font-size: 1.5rem;
}

.paragraphDarkmode {
    color: var(--white);
    font-family: switzer-regular;
    font-size: 1.5rem;
}